<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{# <link rel="stylesheet" type="text/css" href="styles.css"> #}
<head>
<title>SpaceTau Database System</title>


{# https://jinja.palletsprojects.com/en/3.0.x/templates/#list-of-control-structures #}
{% block javascript %}
<script language="JavaScript">
    
    function showform(dowhat) {
        /*
        * four DIVS: browse, insert, update, delete
        * this function sets one visible the others not
        */
        if (dowhat == 'insert'){
            //document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'update'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'delete'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
        }
    else if (dowhat == 'all'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'block';
        }
        else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
    }
    function newAstronaut() { showform('insert'); }
   
    function updateAstronaut(id) {
        //showform('update');


        const updateAstronautForm = document.getElementById('updateAstronautFORM');

        updateAstronautForm.addEventListener("submit", function(event) {
            console.log(event);
            event.preventDefault();
        });



        console.log(id)
        url = '/get_astronaut/' + id
        console.log(url)

        fetch(url).then(function(response) {
        
        return response.json();
        }).then(function(data) {
            
            console.log(data)
            document.getElementById('astronaut_id_update').value = data[0].id_astronaut;
            document.getElementById('astronaut_id_update_label').innerHTML = data[0].id_astronaut;
            document.getElementById('astronaut_name_update').value = data[0].name;
            document.getElementById('astronaut_age_update').value = data[0].age;
            document.getElementById('astronaut_gender_update').value = data[0].gender;
            document.getElementById('astronaut_mission_role_update').value = data[0].mission_role;
            document.getElementById('astronaut_spacecraft_update').selectedIndex = data[0].id_spacecraft; 

            showform('update'); 


        }).catch(function(err) {
            console.log('Fetch Error :-S', err);
            browseAstronaut()
        });
    }
    function updateAstronautHandler(id) {
        let toUpdate = document.getElementById('astronaut_id_update').value;
        let name = document.getElementById('astronaut_name_update').value;
        let age = document.getElementById('astronaut_age_update').value;
        let gender = document.getElementById('astronaut_gender_update').value;
        let mission_role = document.getElementById('astronaut_mission_role_update').value;
        let astronaut_spacecraft = document.getElementById('astronaut_spacecraft_update').value;


        const url = '/update_astronaut/' + toUpdate;
        const url2 = '/astronaut';
        console.log(url)

        const data = {
            astronaut_name_update: name,
            astronaut_gender_update: gender,
            astronaut_age_update: age,
            astronaut_mission_role_update: mission_role,
            astronaut_spacecraft_update: astronaut_spacecraft
        };
        console.log(data);

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            browseAstronaut();
           // window.location.href = "/astronauts"
            
        })
        .catch(error => {
            console.error('Error:', error);
            browseAstronaut();

        });
    }

    function deleteAstronaut(id) {
        //showform ('delete');
        url = '/get_astronaut/' + id

        console.log(url)

        fetch(url).then(function(response) {
        
        return response.json();
        }).then(function(data) {
            
            console.log(data)
            document.getElementById('astronaut_id_delete').innerHTML = data[0].id_astronaut;
            document.getElementById('astronaut_name_delete').innerHTML = data[0].name;
            document.getElementById('astronaut_age_delete').innerHTML = data[0].age;
            document.getElementById('astronaut_gender_delete').innerHTML = data[0].gender;
            document.getElementById('astronaut_mission_role_delete').innerHTML = data[0].mission_role;
            document.getElementById('astronaut_spacecraft_delete').innerHTML = data[0].id_spacecraft;     
            showform ('delete'); 


        }).catch(function(err) {
            console.log('Fetch Error :-S', err);
            browseAstronaut()
        });
    }
    function deleteAstronautHandler() { 

        let toDelete = document.getElementById('astronaut_id_delete').innerHTML
        console.log(toDelete)       
        url = '/delete_astronaut/' + toDelete
        url2 = '/astronaut' 

        //https://developer.mozilla.org/en-US/docs/Web/API/Event/preventDefault
        //  const deleteAstronautForm = document.getElementById('deleteAstronaut_FORM');

        //deleteAstronautForm.addEventListener("submit", function(event) {
        //     console.log(event);
        //    event.preventDefault();
        //});


        console.log(url)

        fetch(url).then(function(response) {
               
        return response
        }).then(function(data) {
            
            console.log(data)
            browseAstronaut()


        }).catch(function(err) {
            console.log('Fetch Error :-S', err);
            browseAstronaut()
        });
    }
    function browseAstronaut() { showform ('browse'); }
    function showAll() { showform ('all'); }

</script>
{% endblock %}

</head>
<body onload="browseAstronaut()">
    <div className="nav_component">

    </div>
      [ <a href="/">Home</a> |<a href="/spacecraft">Spacecraft</a> | <a href="/parts">Parts</a> | <a href="/parts-and-spacecraft">Spacecaft/Parts Intersection Table</a>  | <a href="/missions">Missions</a> | <a href="/astronauts">Astronauts</a> | <a href="/clients">Clients</a> | <a href="/planetary-objects">Planetary Objects</a> ]
    <h1>SpaceTau Database System - Astronauts Page</h1>
    
    <p>Astronauts page.</p>

    {# reference https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path #}
    <img src="https://c8.alamy.com/zooms/9/25f973ead3544eea9b2bf30eb5bb878d/2eybk99.jpg" style="clip-path: inset(0 0 18px 0);">
    <p></p>
    <p></p>

    <button onclick="newAstronaut() " class="add_button">Add an Astronaut</button>

    {# FORM FOR ADDING A ASTRONAUT - Always Visible or Toggled by a Button above or below the table - TODO #}
    <div id="insert" class="insertForm">
        <form method="POST" id="add_astronaut" action="/astronauts" method="post">
            <legend><strong>Add Astronaut</strong></legend>
            <fieldset class="fields">
                <label> Name </label> <input type="text" name="name">
                <label> Age </label> <input type="number" name="age">
                <label> Gender </label> <input type="text" name="gender">
                <label> Mission Role </label> <input type="text" name="mission_role">
                <label> Spacecraft Name (Optional) </label>
                    <select name="spacecraft_id">
                        <option value="0"></option>
                        {%for id, name in spacecraft_dict.items()%}
                            <option value="{{id}}">{{name}}</option>
                        {% endfor %}
                    </select>
            </fieldset>
            <input class="submit_button" type="submit" id="addAstronaut" value="Add Astronaut">
            <input class="cancel_button" type="button" value="Cancel" onClick="browseAstronaut()">
        </form> 
    </div>


    <div id="update" class="updateForm">
        <form method="POST" id="updateAstronautFORM">
            <legend><strong>Update Astronaut</strong></legend>
            <fieldset class="fields">
                <input type="hidden" name="astronautID" id="astronaut_id_update">
                <label>ID: </label> <div id="astronaut_id_update_label"></div>
                <label>Name: </label> <input type="text" name="astronaut_name_update" id="astronaut_name_update">
                <label>Age: </label> <input type="text" name="astronaut_age_update" id="astronaut_age_update">
                <label>Gender:</label> <input type="text" name="astronaut_gender_update" id="astronaut_gender_update">
                <label>Mission Role:</label> <input type="text" name="astronaut_mission_role_update" id="astronaut_mission_role_update">
                <label>Current Spacecraft:  </label> 
                    <select name="astronaut_spacecraft_update" id="astronaut_spacecraft_update">
                        <option value="0"></option>
                        {%if spacecraft_dict%}
                            {%for id, name in spacecraft_dict.items()%}
                                <option value="{{id}}">{{name}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                
        </fieldset>
            <input class="submit_button" type="submit" id="UpdateSaveAstronaut" value="Update Astronaut" onClick="updateAstronautHandler()">
            <input class="cancel_button" type="button" value="Cancel" onClick="browseAstronaut()">
        </form> 
    </div>

    <div id="delete" style="display: block" class="deleteForm">
        <form method="POST" id="deleteAstronaut_FORM">
            <legend><strong>Delete Astronaut</strong></legend>
                <fieldset class="fields">
                <p>Are you sure you wish to delete the following?</p>
                <input type="hidden" name="astronautID" id="deleteastronautID" value="1">
                <label><strong>Astronaut ID:</strong></label> 
                <div id="astronaut_id_delete"></div>
                <label> <strong>Name:</strong> </label> 
                <div id="astronaut_name_delete"></div>
                <label> <strong>Age:</strong> </label> 
                <div id="astronaut_age_delete"></div>
                <label> <strong>Gender:</strong> </label>
                <div id="astronaut_gender_delete"></div>
                <label> <strong>Mission Role:</strong> </label>
                <div id="astronaut_mission_role_delete"></div>
                <label> <strong>Spacecraft ID:</strong> </label>
                <div id="astronaut_spacecraft_delete"></div>
            </fieldset>
            <input class="submit_button" type="submit" id="DeleteAstronaut" value="Delete Astronaut" onClick="deleteAstronautHandler()">
            <input class="cancel_button" type="button" value="cancel" onClick="browseAstronaut()">
        </form> 
    </div>

    {%if astronaut_data %}
        <div id="browse" style="display: block">
            <table>
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in astronaut_data[0].keys() %}                            
                            <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                            <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>					
                        <!-- End of this for loop -->
                        {% endfor %} 
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>

                <tbody>
					<!-- Now, iterate through every item in data -->
                    {% for item in astronaut_data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}
						         <!-- Create a <td> element with the value of that key in it -->
                                {% if key == "id_astronaut" %}     
                                    <td> {{item[key]}} </td> 
                                {% else %}     
                                    <td> {{item[key]}} </td> 
                                {% endif %} 
                            {% endfor %}

                            <!-- Create our edit/delete buttons --> 
                            <td style="text-align:center;"><a href="#" onClick="updateAstronaut('{{item['Astronaut ID']}}')">Edit</a></td>
                            <td style="text-align:center;"><a href="#" onclick="deleteAstronaut('{{item['Astronaut ID']}}')">Delete</a></td>
					    </tr> 
                    {% endfor %}
            </table>
        </div>
    {% endif %}
    
    
</body>
</html>