<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{# <link rel="stylesheet" type="text/css" href="styles.css"> #}
<head>
<title>SpaceTau Database System</title>


{# https://jinja.palletsprojects.com/en/3.0.x/templates/#list-of-control-structures #}
{% block javascript %}
<script language="JavaScript">
    
    function showform(dowhat) {
        /*
        * four DIVS: browse, insert, update, delete
        * this function sets one visible the others not
        */
        if (dowhat == 'insert'){
            //document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'update'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'delete'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
        }
    else if (dowhat == 'all'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'block';
        }
        else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
    }
    function newAstronaut() { showform('insert'); }
    function updateAstronaut(pid) { showform('update'); }
    function deleteAstronaut(pid) { showform ('delete'); }
    function browseAstronaut() { showform ('browse'); }
    function showAll() { showform ('all'); }

</script>
{% endblock %}

</head>
<body onload="browseAstronaut()">
    <div className="nav_component">

    </div>
      [ <a href="/">Home</a> |<a href="/spacecraft">Spacecraft</a> | <a href="/parts">Parts</a> | <a href="/parts-and-spacecraft">Spacecaft/Parts Intersection Table</a>  | <a href="/missions">Missions</a> | <a href="/astronauts">Astronauts</a> | <a href="/clients">Clients</a> | <a href="/planetary-objects">Planetary Objects</a> ]
    <h1>SpaceTau Database System - Astronauts Page</h1>
    
    <p>Astronauts page.</p>

    {# reference https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path #}
    <img src="https://c8.alamy.com/zooms/9/25f973ead3544eea9b2bf30eb5bb878d/2eybk99.jpg" style="clip-path: inset(0 0 18px 0);">
    <p></p>
    <p></p>

    <button onclick="newAstronaut() " class="add_button">Add an Astronaut</button>

    {# FORM FOR ADDING A ASTRONAUT - Always Visible or Toggled by a Button above or below the table - TODO #}
    <div id="insert" class="insertForm">
        <form method="POST" id="addAstronaut">
            <legend><strong>Add Astronaut</strong></legend>
            <fieldset class="fields">
                <label> Name </label> <input type="text" name="name">
                <label> Age </label> <input type="number" name="age">
                <label> Gender </label> <input type="text" name="gender">
                <label> Mission Role </label> <input type="text" name="mission_role">
                <label> Spacecraft Name (Optional) </label>
                    <select name="spacecraft_id">
                        <option value="0">&nbsp;</option>
                        <option value="1">Lunar Gateway</option>
                        <option value="2">Crew Capsule I</option>
                    </select>
        </fieldset>
            <input class="submit_button" type="submit" id="addAstronaut" value="Add Astronaut">
            <input class="cancel_button" type="button" value="Cancel" onClick="browseAstronaut()">
        </form> 
    </div>
    
    {# TABLE FOR SELECT STATEMENT #}
    <div id="browse" style="display: block">
      <table>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Mission Role</th>            
            <th scope="col">Spacecraft Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>        
        </thead>
        <tr>
            <td align="center" >1</td>
            <td >Buzz Aldrin</td>
            <td align="right" >93</td>
            <td>Male</td>
            <td>Pilot</td>
            <td>Lunar Gateway</td>
            <td><a href="#" onClick="updatePerson('this.personID')">Edit</a></td>
            <td><a href="#" onclick="deletePerson('this.personID')">Delete</a></td>
        </tr>
        <tr>
            <td align="center" >2</td>
            <td >Joe Acaba</td>
            <td align="right" >55</td>
            <td>Male</td>
            <td>Engineer</td>
            <td>Lunar Gateway</td>
            <td><a href="#" onClick="updatePerson('this.personID')">Edit</a></td>
            <td><a href="#" onclick="deletePerson('this.personID')">Delete</a></td>
        </tr>
        <tr>
            <td align="center" >3</td>
            <td >Kayla Barron</td>
            <td align="right" >35</td>
            <td>Female</td>
            <td>Specialist</td>
            <td>Null</td>
            <td><a href="#" onClick="updatePerson('this.personID')">Edit</a></td>
            <td><a href="#" onclick="deletePerson('this.personID')">Delete</a></td>
        </tr>
        <tbody>            
        </tbody>
    </table>
    </div>


    
</body>
</html>