<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{# <link rel="stylesheet" type="text/css" href="styles.css"> #}
<head>
    <title>SpaceTau Database System</title>
</head>
<body>
    <div className="nav_component">

    </div>
    [ <a href="/">Home</a> |<a href="/spacecraft">Spacecraft</a> | <a href="/missions">Missions</a> | <a href="/parts">Parts</a> | <a href="/astronauts">Astronauts</a> | <a href="/clients">Clients</a> | <a href="/planetary-objects">Planetary Objects</a> ]
    <h1>SpaceTau Database System - Clients Page</h1>
    
    <p>Clients page.</p>
    
      <table>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">EIN</th>
            <th scope="col">Name</th>
            <th scope="col">Contribution Amount</th>            
            <th scope="col">Address</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>        
        </thead>
        <tr>
            <td align="center" >1</td>
            <td >521610424</td>
            <td align="right" >Lockheed Martin</td>
            <td>52300300.00</td>
            <td>3251 Hanover St, Palo Alto, CA 94304</td>
            <td><a href="#" onClick="updatePerson('this.personID')">Edit</a></td>
            <td><a href="#" onclick="deletePerson('this.personID')">Delete</a></td>
        </tr>
        <tr>
            <td align="center" >2</td>
            <td >521610423</td>
            <td align="right" >Airbus</td>
            <td>52300300.00</td>
            <td>3251 Hanover St, Palo Alto, CA 94304</td>
            <td><a href="#" onClick="updatePerson('this.personID')">Edit</a></td>
            <td><a href="#" onclick="deletePerson('this.personID')">Delete</a></td>
        </tr>
        <tr>
            <td align="center" >3</td>
            <td >521610224</td>
            <td align="right" >Boeing</td>
            <td>52300300.00</td>
            <td>3251 Hanover St, Palo Alto, CA 94304</td>
            <td><a href="#" onClick="updatePerson('this.personID')">Edit</a></td>
            <td><a href="#" onclick="deletePerson('this.personID')">Delete</a></td>
        </tr>
        <tbody>            
        </tbody>
    </table>


</body>
</html>