<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{# <link rel="stylesheet" type="text/css" href="styles.css"> #}
<head>
    <title>SpaceTau Database System</title>
</head>
<body>
    <div className="nav_component">

    </div>
    [ <a href="/">Home</a> |<a href="/spacecraft">Spacecraft</a> | <a href="missions.jinja">Missions</a> | <a href="parts.jinja">Parts</a> | <a href="astronauts.jinja">Astronauts</a> | <a href="clients.jinja">Clients</a> | <a href="planetary_objects.jinja">Planetary Objects</a> ]
    <h1>SpaceTau Database System - Home Page</h1>
    <h2>Michael Iwanek & Travis Hudson</h2>
    <p>This is a demonstration project created to show students how to create a Flask app and connect it to a MySQL database.</p>
    <p>testing a change</p>
</body>
</html>