<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{# <link rel="stylesheet" type="text/css" href="styles.css"> #}
<head>
    <title>SpaceTau Database System</title>
</head>
<body>
    <div className="nav_component">

    </div>
    [ <a href="/">Home</a> |<a href="/spacecraft">Spacecraft</a> | <a href="/missions">Missions</a> | <a href="/parts">Parts</a> | <a href="/astronauts">Astronauts</a> | <a href="/clients">Clients</a> | <a href="/planetary-objects">Planetary Objects</a> ]
    <h1>SpaceTau Database System - Missions Page</h1>
    
    <p>Missions page.</p>

          <table>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Mission Role</th>            
            <th scope="col">Spacecraft Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>        
        </thead>
        <tr>
            <td align="center" >1</td>
            <td >Buzz Aldrin</td>
            <td align="right" >93</td>
            <td>Male</td>
            <td>Pilot</td>
            <td>Lunar Gateway</td>
            <td><a href="#" onClick="updatePerson('this.personID')">Edit</a></td>
            <td><a href="#" onclick="deletePerson('this.personID')">Delete</a></td>
        </tr>
        <tr>
            <td align="center" >2</td>
            <td >Joe Acaba</td>
            <td align="right" >55</td>
            <td>Male</td>
            <td>Engineer</td>
            <td>Lunar Gateway</td>
            <td><a href="#" onClick="updatePerson('this.personID')">Edit</a></td>
            <td><a href="#" onclick="deletePerson('this.personID')">Delete</a></td>
        </tr>
        <tr>
            <td align="center" >1</td>
            <td >Kayla Barron</td>
            <td align="right" >35</td>
            <td>Female</td>
            <td>Specialist</td>
            <td>Null</td>
            <td><a href="#" onClick="updatePerson('this.personID')">Edit</a></td>
            <td><a href="#" onclick="deletePerson('this.personID')">Delete</a></td>
        </tr>
        <tbody>            
        </tbody>
    </table>
    
</body>
</html>