<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{# <link rel="stylesheet" type="text/css" href="styles.css"> #}
<head>
    <title>SpaceTau Database System</title>
</head>
<body>
    <div className="nav_component">

    </div>
    [ <a href="/">Home</a> |<a href="/spacecraft">Spacecraft</a> | <a href="/missions">Missions</a> | <a href="/parts">Parts</a> | <a href="/astronauts">Astronauts</a> | <a href="/clients">Clients</a> | <a href="/planetary-objects">Planetary Objects</a> ]
    <h1>SpaceTau Database System - Missions Page</h1>
    
    <p>Missions page.</p>

          <table>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Contract Revenues</th>
            <th scope="col">Contract Costs</th>
            <th scope="col">Contract Profit</th>            
            <th scope="col">External Contract?</th>
            <th scope="col">Mission Description</th>
            <th scope="col">Spacecraft Name</th>
            <th scope="col">Client Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>        
        </thead>
        <tr>
            <td align="center" >1</td>
            <td >Garmin GPS Network Launch Service</td>
            <td align="right" >152300000.00</td>
            <td align="right" >3450000.00</td>
            <td align="right" >1550000.00</td>
            <td>Yes</td>
            <td>A mission to launch a satellite for the Garmin GPS network into a geosynchronous orbit around Earth.</td>
            <td>Garmin GPS Satellite 34</td>
            <td>Garmin</td>
            <td><a href="#" onClick="updatePerson('this.personID')">Edit</a></td>
            <td><a href="#" onclick="deletePerson('this.personID')">Delete</a></td>
        </tr>       
        <tbody>            
        </tbody>
    </table>
    
</body>
</html>