<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{# <link rel="stylesheet" type="text/css" href="styles.css"> #}
<head>
<title>SpaceTau Database System</title>


{# https://jinja.palletsprojects.com/en/3.0.x/templates/#list-of-control-structures #}
{% block javascript %}
<script language="JavaScript">
    
    function showform(dowhat) {
        /*
        * four DIVS: browse, insert, update, delete
        * this function sets one visible the others not
        */
        if (dowhat == 'insert'){
            //document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'update'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'delete'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
        }
    else if (dowhat == 'all'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'block';
        }
        else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
    }
    function newMission() { showform('insert'); }
    function updateMission(pid) { showform('update'); }
    function deleteMission(pid) { showform ('delete'); }
    function browseMission() { showform ('browse'); }
    function showAll() { showform ('all'); }

</script>
{% endblock %}

</head>
<body onload="browseMission()">
    <div className="nav_component">

    </div>
      [ <a href="/">Home</a> |<a href="/spacecraft">Spacecraft</a> | <a href="/parts">Parts</a> | <a href="/parts-and-spacecraft">Spacecaft/Parts Intersection Table</a>  | <a href="/missions">Missions</a> | <a href="/astronauts">Astronauts</a> | <a href="/clients">Clients</a> | <a href="/planetary-objects">Planetary Objects</a> ]
    <h1>SpaceTau Database System - Missions Page</h1>

        
    <p>Missions page.</p>

    <img src="https://www.5wgraphics.com/img/newsletter/50-years-of-exploration.jpg" width="1100px" >
    <p></p>
    <p></p>

    <button onclick="newMission() " class="add_button">Add a Mission</button>


    {# FORM FOR ADDING A MISSION - Toggled by a Button above or below the table - TODO #}
    <div id="insert" class="insertForm">
        <form method="POST" id="addMission">
            <legend><strong>Add Mission</strong></legend>
            <fieldset class="fields">
                <label> Name </label> <input type="text" name="name" required>
                <label> Contract Revenues </label> <input type="number" name="contract_revenues" required>
                <label> Contract Costs </label> <input type="number" name="contract_costs" required>                
                <label> External Contract? </label> 
                <select name="external_contract">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>

                <p></p>

                {# <label> Part Description </label> <input type="textarea" name="description" class="largeTextBox"> #}
                <div class="largeTextBox">
                    <label> Mission Description  </label> 
                    <p></p>
                    <textarea name = "mission_description" required>
                    Enter details here...
                    </textarea>
                </div>

                <p></p>


                
                <label> Spacecraft Name (optional) </label>      
                <select name="spacecraft_id">   
                <option selected value="noneSelected">&nbsp;</option>      
                {% if spacecraft_data %}
                    {% for spacecraft in spacecraft_data %}
                        <option value="{{ spacecraft }}">{{spacecraft_data[spacecraft]}}</option>
                    {% endfor %}
                {% endif %} 
                </select>  
                <label> Client Name (optional) </label> 
                <select name="client_id">     
                <option selected value="noneSelected">&nbsp;</option>                        
                {% if client_data %}
                    {% for client in client_data %}
                        <option value="{{ client }}">{{client_data[client]}}</option>
                    {% endfor %}
                {% endif %} 
                </select>         
        </fieldset>
            <input class="submit_button" type="submit" id="addMission" value="Add Mission">
            <input class="cancel_button" type="button" value="Cancel" onClick="browseMission()">
        </form> 
    </div>

    {# TABLE FOR SELECT STATEMENT - HARD CODED #}
    {# <div id="browse" style="display: block">
        <table>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Contract Revenues</th>
            <th scope="col">Contract Costs</th>
            <th scope="col">Contract Profit</th>            
            <th scope="col">External Contract?</th>
            <th scope="col">Mission Description</th>
            <th scope="col">Spacecraft Name</th>
            <th scope="col">Client Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>        
        </thead>
        <tr>
            <td align="center" >1</td>
            <td >Garmin GPS Network Launch Service</td>
            <td align="right" >152300000.00</td>
            <td align="right" >3450000.00</td>
            <td align="right" >1550000.00</td>
            <td>Yes</td>
            <td>A mission to launch a satellite for the Garmin GPS network into a geosynchronous orbit around Earth.</td>
            <td>Garmin GPS Satellite 34</td>
            <td>Garmin</td>
            <td><a href="#" onClick="updateMission('this.missionID')">Edit</a></td>
            <td><a href="#" onclick="deleteMission('this.missionID')">Delete</a></td>
        </tr>       
        <tbody>            
        </tbody>
        </table>
    </div> #}
    
   
    {% if mission_data %}
        <div id="browse" style="display: block">
            <table>
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in mission_data[0].keys() %}                            
                            <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                            <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>					
                        <!-- End of this for loop -->
                        {% endfor %} 
                        {# <th scope="col">Edit</th>
                        <th scope="col">Delete</th> #}

                    </tr>
                </thead>

				<tbody>
					<!-- Now, iterate through every item in data -->
                    {% for item in mission_data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}
						         <!-- Create a <td> element with the value of that key in it -->
                                {% if key == "External?" %}     
                                    
                                    {% if item[key] == 1 %}     
                                        <td> Yes </td> 
                                    {% else %}     
                                        <td> No </td> 
                                    {% endif %} 

                                {% else %}     
                                    <td> {{item[key]}} </td> 
                                {% endif %} 
                            {% endfor %}

                            <!-- Create our edit/delete buttons --> 
                                                         
                            {# <td><a href="/delete_spacecraft/{{item['Spacecraft ID']}}" class="btn btn-default">Edit</a></td>
						    <td><a href="edit_people/{{item.id}}" class="btn btn-default">Edit</a></td> #}

						    {# <td><a href="delete_people/{{item.id}}" class="btn btn-default">Delete</a></td> #}
                            {# <td style="text-align:center;"><a href="#" onClick="placeholder">Edit</a></td>
                            <td style="text-align:center;"><a href="#" onclick="placeholder">Delete</a></td>       #}
                            
                                            

					    </tr> 
                    {% endfor %} 

            </table>
        </div>     
    {% endif %} 





</body>
</html>