<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{# <link rel="stylesheet" type="text/css" href="styles.css"> #}
<head>
<title>SpaceTau Database System</title>


{# https://jinja.palletsprojects.com/en/3.0.x/templates/#list-of-control-structures #}
{% block javascript %}
<script language="JavaScript">
    
    function showform(dowhat) {
        /*
        * four DIVS: browse, insert, update, delete
        * this function sets one visible the others not
        */
        if (dowhat == 'insert'){
            //document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
            document.getElementById('filter').style.display = 'none';
        }
        else if (dowhat == 'update'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
            document.getElementById('filter').style.display = 'none';
        }
        else if (dowhat == 'delete'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
            document.getElementById('filter').style.display = 'none';
        }
        else if (dowhat == 'all'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'block';
        }
        else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
            document.getElementById('filter').style.display = 'block';
        }
    }
    function newRelationship() { showform('insert'); }
    function updateRelationship(pid) { showform('update'); }
    function browseRelationship() { showform ('browse');}
    function showAll() { showform ('all'); }
    
    


    function deleteRelationship(spacecraft_id, part_id) {    

        showform ('delete'); 

        console.log(part_id)
        console.log(spacecraft_id)
        url = '/get_parts_and_spacecraft/' + part_id + '/' + spacecraft_id

        console.log(url)

        fetch(url).then(function(response) {
        
        return response.json();
        }).then(function(data) {
            
            console.log(data)
            document.getElementById('part_id_delete').innerHTML = data[0]['Part ID'];
            document.getElementById('part_name_delete').innerHTML = data[0]['Parts Name'];

            document.getElementById('spacecraft_id_delete').innerHTML = data[0]['Spacecraft ID'];
            document.getElementById('spacecraft_name_delete').innerHTML = data[0]['Spacecraft Name'];

            showform ('delete'); 

        }).catch(function(err) {
            console.log('Fetch Error :-S', err);
            browseSpacecraft()
        });
                                    }



    function deleteRelationshipHandler() { 

        part_id_to_delete = document.getElementById('part_id_delete').innerHTML
        spacecraft_id_to_delete = document.getElementById('spacecraft_id_delete').innerHTML

        console.log(part_id_to_delete)    
        console.log(spacecraft_id_to_delete)      

        url = '/delete_spacecraft_part_relationship/' + part_id_to_delete + '/' + spacecraft_id_to_delete

        console.log(url)

        fetch(url).then(function(response) {
               
        return response
        }).then(function(data) {
            
            console.log(data)
            browseRelationship()


        }).catch(function(err) {
            console.log('Fetch Error :-S', err);
            browseRelationship()
        });
    }  



    function updateSpacecraftPartRelationship(spacecraft_id, part_id) { 
    
    console.log(part_id)
    console.log(spacecraft_id)
    url = '/get_parts_and_spacecraft/' + part_id + '/' + spacecraft_id

    fetch(url).then(function(response) {
    
    return response.json();
    }).then(function(data) {
        
        console.log(data)

        let spacecraft_index = data[0]['Spacecraft ID']
        let part_index = data[0]['Part ID']

        document.getElementById('spacecraft_update_select_option').selectedIndex = spacecraft_index-1;
        document.getElementById('part_update_select_option').selectedIndex = part_index-1;

        document.getElementById('spacecraft_id_update').innerHTML = spacecraft_index
        document.getElementById('spacecraft_name_update').innerHTML = data[0]['Spacecraft Name']

        document.getElementById('part_id_update').innerHTML = part_index
        document.getElementById('part_name_update').innerHTML = data[0]['Parts Name']

        console.log(data[0]['Spacecraft ID'])
        console.log(data[0]['Part ID'])

        //document.getElementById('spacecraft_delta_v_update').value = data[0].delta_v_remaining;
        //document.getElementById('spacecraft_met_update').value = data[0].mission_elapsed_time_days;

        //document.getElementById("soi_select_option").selectedIndex = data[0].id_planetary_object -1; 
        
        //console.log('selecting planet with id')
        //console.log(data[0].id_planetary_object)

        showform('update'); 


    }).catch(function(err) {
        console.log('Fetch Error :-S', err);
        browseSpacecraft()
    });        

    }
    


    function updateSpacecraft_Handler(id) {    
        
        
        let toUpdate = document.getElementById('spacecraft_id_update').value;
        let name = document.getElementById('spacecraft_name_update').value;
        let in_orbit = document.getElementById('orbit_select_option').value;

        const url = '/update_spacecraft/' + toUpdate;
        const url2 = '/spacecraft'; 

        const data = {
            spacecraft_name_update: name,
            orbit_select_option: in_orbit,
            launched_select_option: launched,
            soi_select_option: sphere_of_influence,
            spacecraft_delta_v_update: delta_v_remaining,
            spacecraft_met_update: MET_days
        };

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            browseSpacecraft();
        })
        .catch(error => {
            console.error('Error:', error);
            browseSpacecraft();
        });
}


</script>
{% endblock %}

</head>
<body onload="browseRelationship()">
    <div className="nav_component">

    </div>
      [ <a href="/">Home</a> |<a href="/spacecraft">Spacecraft</a> | <a href="/parts">Parts</a> | <a href="/parts-and-spacecraft">Spacecaft/Parts Intersection Table</a>  | <a href="/missions">Missions</a> | <a href="/astronauts">Astronauts</a> | <a href="/clients">Clients</a> | <a href="/planetary-objects">Planetary Objects</a> ]
    <h1>SpaceTau Database System - Spacecraft/Parts Intersection Table Page</h1>

    <p>Parts/Spacecraft page.</p>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/GOES-R_SPACECRAFT.jpg/800px-GOES-R_SPACECRAFT.jpg">
    <p></p>
    <p></p>
    
    <p>This page displays the relationships between parts and spacecraft in the database.</p>
    <p>Parts are involved in a M:N relationship with spacecraft.  A part can be found in many spacecraft, and a spacecraft can consist of many parts.</p>
    <p>Click the 'add' button to below to insert a new part/spacecraft association into the database.</p>


    <button onclick="newRelationship() " class="filter_button">Add a M:N SpaceCraft/Part Relationship</button>

    <p></p>
    <p></p>


    <div id="filter" class="filterForm">
        <form method="post" id="filter_relationships" name="Filter Relationships">
        <legend><strong>Filter on Spacecaft</strong></legend>   
        
            <label> Spacecraft </label> 
            <select name="spacecraft_select_option" id="spacecraft_select_option">                       
            {% if spacecraft_for_dropdown %}
                {% for spacecraft_item in spacecraft_for_dropdown %}
                    <option value="{{ spacecraft_item['id_spacecraft'] }}">{{spacecraft_item['name']}}</option>
                {% endfor %}
            {% endif %} 
            </select>   
            
        </fieldset>
            <input class="submit_button" type="submit" id="filter-on-Spacecraft" name="filter_relationships" value="Filter Relationships">     
            <input class="add_button" type="button" onclick="location.href='parts-and-spacecraft';" value="Remove Filters">      
        </form> 
    </div>
    
    {# FORM FOR ADDING A Relationship - Always Visible or Toggled by a Button above or below the table - TODO #}
    <div id="insert" class="insertForm">
        <form method="POST" id="addRelationship">
            <legend><strong>Add Spacecaft/Part Relationship</strong></legend>
            <fieldset class="fields">
            <label> Spacecaft Name </label> 
                    <select name="spacecraft_name">
                        {# <option value="0">&nbsp;</option>
                        <option value="1">Lunar Gateway</option>
                        <option value="2">Garmin Satellite</option>
                        <option value="3">Sentry Satellite</option> #}
                        {%if spacecraft_for_dropdown %}
                            {% for i in spacecraft_for_dropdown%}
                                <option value="{{ i['id_spacecraft'] }}">{{i['name']}}</option>
                            {%endfor%}
                        {% endif %}
                    </select>       
                <label> Part Name </label> 
                    <select name="part_name">
                        {# <option value="0">&nbsp;</option>
                        <option value="1">Roll Out Solar Array (ROSA)</option>
                        <option value="2">Reaction Wheel</option>
                        <option value="3">Xenon Engine</option> #}
                        {%if parts_for_dropdown %}
                            {%for i in parts_for_dropdown%}
                                {# {% for key, value in i.items()%} #}
                                    <option value="{{ i['id_part'] }}">{{i['name']}}</option>
                                {# {% endfor %} #}
                            {% endfor %}
                        {% endif %}
                    </select>
             
        </fieldset>
            <input class="submit_button"  name="Add_Spacecraft_Part_Relationship" type="submit" id="addSpacecraft-Part-Relationship" value="Add Spacecraft/Part Relationship">
            <input class="cancel_button" type="button" value="Cancel" onClick="browseRelationship()">
        </form> 
    </div>

    {# FORM FOR UPDATING A PART - This becomes visible when the EDIT BUTTON on a record is clicked #}
    <div id="update" class="updateForm2">
        <form method="POST" id="updateRelationship">
            <legend><strong>Update Spacecraft/Part Relationship</strong></legend>
            <fieldset class="fields">

            <div>
                <label><strong>Existing Spacecraft ID: </strong> </label> 
                <div  name="spacecraft_id_update" id="spacecraft_id_update"></div>
                <label><strong>Existing Spacecraft Name: </strong> </label> 
                <div  name="spacecraft_id_update" id="spacecraft_name_update"></div>
            </div>

            <p></p>

            <div>
                <label> <strong>Existing Part ID: </strong></label> 
                <div  name="part_id_update" id="part_id_update"></div>
                <label><strong> Existing Part Name: </strong></label> 
                <div  name="part_id_update" id="part_name_update"></div>      
            </div>     
            
            <p></p>
            <p></p>

            <label> New Spacecraft Name </label> 
                    <select id="spacecraft_update_select_option">
                        {%if spacecraft_for_dropdown %}
                            {% for i in spacecraft_for_dropdown%}
                                <option value="{{ i['id_spacecraft'] }}">{{i['name']}}</option>
                            {%endfor%}
                        {% endif %}
                    </select>



            <label> New Part Name </label> 
                    <select id="part_update_select_option">
                        {%if parts_for_dropdown %}
                            {%for i in parts_for_dropdown%}
                                {# {% for key, value in i.items()%} #}
                                    <option value="{{ i['id_part'] }}">{{i['name']}}</option>
                                {# {% endfor %} #}
                            {% endfor %}
                        {% endif %}
                    </select>

        </fieldset>
            <input class="submit_button" type="submit" id="UpdateSaveRelationship" value="Save Updated Relationship">
            <input class="cancel_button" type="button" value="Cancel" onClick="browseRelationship()">
        </form> 
    </div>

    {# FORM FOR DELETING A PART - This becomes visible when the DELETE BUTTON on a record is clicked #}
    <div id="delete" style="display: block" class="deleteForm">
        <form method="POST" id="deleteRelationship">
            <legend><strong>Delete Relationship</strong></legend>
                <fieldset class="fields">
                <p>Are you sure you wish to delete the following?</p>
                <input type="hidden" name="relationshipID" id="deleteRelationshipID" value="1">
                <label><strong>Part ID:</strong></label>
                <div id="part_id_delete"></div>
                <label><strong>Part Name:</strong></label>
                <div id="part_name_delete"></div>
                <label><strong>Spacecaft ID:</strong></label>
                <div id="spacecraft_id_delete"></div>
                <label><strong>Spacecaft Name:</strong></label>
                <div id="spacecraft_name_delete"></div>
     
            </fieldset>
            <input class="submit_button" type="submit" id="deleteRelationship" value="Delete Relationship" onClick="deleteRelationshipHandler()">
            <input class="cancel_button" type="button" value="Cancel" onClick="browseRelationship()">
        </form> 
    </div>


    {% if spacecraft_parts_data %}
        <div id="browse" style="display: block">
            <table>
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in spacecraft_parts_data[0].keys() %}                            
                            <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                            <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>					
                        <!-- End of this for loop -->
                        {% endfor %} 
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>

                    </tr>
                </thead>

				<tbody>
					<!-- Now, iterate through every item in data -->

                    {# https://jinja.palletsprojects.com/en/latest/templates/#assignments #}
                    {% set row_count = 0 %}
                    
                    {% for item in spacecraft_parts_data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->

                            {% for key in item.keys() %}
                            {% set col_count = 0 %}

						         <!-- Create a <td> element with the value of that key in it -->
                                {% if key == "id_planetary_object" %}     
                                    <td id='{{loop.index}}_{{col_count}}'> {{item[key]}} </td> 
                                {% else %}     
                                    <td id='{{loop.index}}_{{col_count}}'> {{item[key]}} </td> 
                                {% endif %} 

                            {% set col_count = col_count + 1 %}
                            {% endfor %}
                            

                            <!-- Create our edit/delete buttons --> 
                                                         
                            {# <td><a href="/delete_spacecraft/{{item['Spacecraft ID']}}" class="btn btn-default">Edit</a></td>
						    <td><a href="edit_people/{{item.id}}" class="btn btn-default">Edit</a></td> #}

						    {# <td><a href="delete_people/{{item.id}}" class="btn btn-default">Delete</a></td> #}
                            <td><a href="#" onClick="updateSpacecraftPartRelationship('{{item['Spacecraft ID']}}', '{{item['Part ID']}}')">Edit</a></td>
                            <td><a href="#" onclick="deleteRelationship('{{item['Spacecraft ID']}}', '{{item['Part ID']}}')">Delete</a></td>            

					    </tr> 
                    {% set row_count = row_count + 1 %}
                    {% endfor %} 

            </table>
        </div>     
    {% endif %} 

    
</body>
</html>