<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{# <link rel="stylesheet" type="text/css" href="styles.css"> #}
<head>
    <title>SpaceTau Database System</title>
</head>
<body>
    <div className="nav_component">

    </div>
    [ <a href="/">Home</a> |<a href="/spacecraft">Spacecraft</a> | <a href="/missions">Missions</a> | <a href="/parts">Parts</a> | <a href="/astronauts">Astronauts</a> | <a href="/clients">Clients</a> | <a href="/planetary-objects">Planetary Objects</a> ]
    <h1>SpaceTau Database System - Parts Page</h1>
    
    <p>Parts page.</p>

          <table>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Mass (kg)</th>
            <th scope="col">Cost</th>            
            <th scope="col">Part Description</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>        
        </thead>
        <tr>
            <td align="center" >1</td>
            <td >Roll Out Solar Array (ROSA)</td>
            <td>Redwire</td>
            <td>325.00</td>
            <td>1700000.00</td>
            <td>120 KW solar array that is 20 percent lighter and 1/4th the volume of rigid panel arrays.  https://spaceflightnow.com/2022/12/03/iss-eva-82/#:~:text=NASA%20is%20upgrading%20the%20space,station\'s%20eight%20original%20solar%20panels.</td>
            <td><a href="#" onClick="updatePerson('this.personID')">Edit</a></td>
            <td><a href="#" onclick="deletePerson('this.personID')">Delete</a></td>
        </tr>
        <tbody>            
        </tbody>
    </table>
    
</body>
</html>