<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{# <link rel="stylesheet" type="text/css" href="styles.css"> #}
<head>
<title>SpaceTau Database System</title>


{# https://jinja.palletsprojects.com/en/3.0.x/templates/#list-of-control-structures #}
{% block javascript %}
<script language="JavaScript">
    
    function showform(dowhat) {
        /*
        * four DIVS: browse, insert, update, delete
        * this function sets one visible the others not
        */
        if (dowhat == 'insert'){
            //document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
            document.getElementById('filter').style.display = 'none';
        }
        else if (dowhat == 'update'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
            document.getElementById('filter').style.display = 'none';
        }
        else if (dowhat == 'delete'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
            document.getElementById('filter').style.display = 'none';
        }
    else if (dowhat == 'all'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'block';
        }
        else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
            document.getElementById('filter').style.display = 'block';
        }
    }
    function newRelationship() { showform('insert'); }
    function updateRelationship(pid) { showform('update'); }
    function deleteRelationship(pid) { showform ('delete'); }
    function browseRelationship() { showform ('browse');
    
     }
    function showAll() { showform ('all'); }

</script>
{% endblock %}

</head>
<body onload="browseRelationship()">
    <div className="nav_component">

    </div>
      [ <a href="/">Home</a> |<a href="/spacecraft">Spacecraft</a> | <a href="/parts">Parts</a> | <a href="/parts-and-spacecraft">Spacecaft/Parts Intersection Table</a>  | <a href="/missions">Missions</a> | <a href="/astronauts">Astronauts</a> | <a href="/clients">Clients</a> | <a href="/planetary-objects">Planetary Objects</a> ]
    <h1>SpaceTau Database System - Spacecraft/Parts Intersection Table Page</h1>

    <p>Parts/Spacecraft page.</p>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/GOES-R_SPACECRAFT.jpg/800px-GOES-R_SPACECRAFT.jpg">
    <p></p>
    <p></p>
    
    <p>This page displays the relationships between parts and spacecraft in the database.</p>
    <p>Parts are involved in a M:N relationship with spacecraft.  A part can be found in many spacecraft, and a spacecraft can consist of many parts.</p>
    <p>Click the 'add' button to below to insert a new part/spacecraft association into the database.</p>


    <button onclick="newRelationship() " class="filter_button">Add a M:N SpaceCraft/Part Relationship</button>

    <p></p>
    <p></p>
    


    <div id="filter" class="filterForm">
        <form method="POST" id="addPart">
        <legend><strong>Filter on Spacecaft</strong></legend>   
        
            <label> Spacecraft </label> 
            <select name="spacecraft_select_option" id="spacecraft_select_option">                       
            {% if spacecraft_for_dropdown_filter_data %}
                {% for spacecraft_item in spacecraft_for_dropdown_filter_data %}
                    <option value="{{ spacecraft_item['id_spacecraft'] }}">{{spacecraft_item['name']}}</option>
                {% endfor %}
            {% endif %} 
            </select>   
            
        </fieldset>
            <input class="submit_button" type="submit" id="addSpacecraft-Part-Relationship" value="Filter on Spacecraft">     
            <input class="add_button" type="button" id="addSpacecraft-Part-Relationship" value="Remove Filters">      
        </form> 
    </div>
    


    {# FORM FOR ADDING A PART - Always Visible or Toggled by a Button above or below the table - TODO #}
    <div id="insert" class="insertForm">
        <form method="POST" id="addRelationship">
            <legend><strong>Add Spacecaft/Part Relationship</strong></legend>
            <fieldset class="fields">
                <label> Part Name </label> 
                    <select name="part_name">
                        {# <option value="0">&nbsp;</option>
                        <option value="1">Roll Out Solar Array (ROSA)</option>
                        <option value="2">Reaction Wheel</option>
                        <option value="3">Xenon Engine</option> #}
                        {%if spacecraft_parts_data %}
                            {% for part in spacecraft_parts_data%}
                                <option value="{{ part }}">{{spacecraft_parts_data[part]}}</option>
                        {% endif %}
                    </select>
                <label> Spacecaft Name </label> 
                    <select name="spacecraft_name">
                        {# <option value="0">&nbsp;</option>
                        <option value="1">Lunar Gateway</option>
                        <option value="2">Garmin Satellite</option>
                        <option value="3">Sentry Satellite</option> #}
                        {%if spacecraft_parts_data %}
                            {% for spacecraft in spacecraft_parts_data%}
                                <option value="{{ spacecraft }}">{{spacecraft_parts_data[spacecraft]}}</option>
                        {% endif %}
                    </select>                    
        </fieldset>
            <input class="submit_button" type="submit" id="addSpacecraft-Part-Relationship" value="Add M:N Relationship">
            <input class="cancel_button" type="button" value="Cancel" onClick="browseRelationship()">
        </form> 
    </div>
    
    {# <p>&nbsp;</p> #}

    {# FORM FOR UPDATING A PART - This becomes visible when the EDIT BUTTON on a record is clicked #}
    <div id="update" class="updateForm">
        <form method="POST" id="updateRelationship">
            <legend><strong>Update Person</strong></legend>
            <fieldset class="fields">
            <input type="hidden" name="personID" id="updatepersonID" value="1">
            <label> ID: </label> 1
                <label> Part name </label> <input type="text" name="part_name" value="Part">
                <label> Spacecraft name </label> <input type="text" name="spacecraft_name" value="Spacecraft">
                    {# <option value="0">&nbsp;</option>
                    <option value="1" selected>Gemenon</option>
                    <option value="2">Leonis</option>
                    <option value="3">Caprica</option> #}

                        {%if spacecraft_parts_data %}
                            {% for spacecraft in spacecraft_parts_data%}
                                <option value="{{ spacecraft }}">{{spacecraft_parts_data[spacecraft]}}</option>
                        {% endif %}
                    </select>
        </fieldset>
            <input class="btn" type="submit" id="UpdateSaveRelationship" value="Save Update Relationship">
            <input class="btn" type="button" value="cancel" onClick="browseRelationship()">
        </form> 
    </div>

    {# <p>&nbsp;</p> #}


    {# FORM FOR DELETING A PART - This becomes visible when the DELETE BUTTON on a record is clicked #}
    <div id="delete" style="display: block" class="deleteForm">
        <form method="POST" id="deleteRelationship">
            <legend><strong>Delete Relationship</strong></legend>
                <fieldset class="fields">
                <p>Are you sure you wish to delete the following?</p>
                <input type="hidden" name="relationshipID" id="deleteRelationshipID" value="1">
                <label><strong>Part ID:</strong></label>
                <div id="part_id_delete"></div>
                <label><strong>Spacecaft ID:</strong></label>
                <div id="spacecraft_id_delete"></div>
     
            </fieldset>
            <input class="btn" type="submit" id="deleteRelationship" value="Delete Relationship">
            <input class="btn" type="button" value="cancel" onClick="browseRelationship()">
        </form> 
    </div>


    {# TABLE FOR SELECT STATEMENT - HARDCODED#}
    {# <div id="browse" style="display: block">
        <table>
            <thead>
            <tr>
                <th scope="col">Spacecaft ID</th>
                <th scope="col">SpaceCraft Name</th>
                <th scope="col">Part ID</th>
                <th scope="col">Part Name</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>        
            </thead>
            <tr>
                <td align="center" >1</td>
                <td >Lunar Gateway</td>
                <td align="center" >1</td>
                <td >Roll Out Solar Array (ROSA)</td>
                <td><a href="#" onClick="updatePart('this.personID')">Edit</a></td>
                <td><a href="#" onclick="deletePart('this.personID')">Delete</a></td>
            </tr>
            <tr>
                <td align="center" >2</td>
                <td >Garmin Satellite</td>
                <td align="center" >1</td>
                <td >Roll Out Solar Array (ROSA)</td>
                <td><a href="#" onClick="updatePart('this.personID')">Edit</a></td>
                <td><a href="#" onclick="deletePart('this.personID')">Delete</a></td>                
            </tr>            
            <tbody>            
            </tbody>
        </table>
    </div> #}

    {% if spacecraft_parts_data %}
        <div id="browse" style="display: block">
            <table>
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in spacecraft_parts_data[0].keys() %}                            
                            <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                            <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>					
                        <!-- End of this for loop -->
                        {% endfor %} 
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>

                    </tr>
                </thead>

				<tbody>
					<!-- Now, iterate through every item in data -->
                    {% for item in spacecraft_parts_data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}
						         <!-- Create a <td> element with the value of that key in it -->
                                {% if key == "id_planetary_object" %}     
                                    <td> {{item[key]}} </td> 
                                {% else %}     
                                    <td> {{item[key]}} </td> 
                                {% endif %} 
                            {% endfor %}

                            <!-- Create our edit/delete buttons --> 
                                                         
                            {# <td><a href="/delete_spacecraft/{{item['Spacecraft ID']}}" class="btn btn-default">Edit</a></td>
						    <td><a href="edit_people/{{item.id}}" class="btn btn-default">Edit</a></td> #}

						    {# <td><a href="delete_people/{{item.id}}" class="btn btn-default">Delete</a></td> #}
                            <td><a href="#" onClick="updateRelationship('{{item['Spacecraft ID'], item['Part ID']}}')">Edit</a></td>
                            <td><a href="#" onclick="deleteRelationship('{{item['Spacecraft ID'], item['Part ID']}}')">Delete</a></td>      
                            
                                            

					    </tr> 
                    {% endfor %} 

            </table>
        </div>     
    {% endif %} 


    
</body>
</html>