<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{# <link rel="stylesheet" type="text/css" href="styles.css"> #}
<head>
<title>SpaceTau Database System</title>


{# https://jinja.palletsprojects.com/en/3.0.x/templates/#list-of-control-structures #}
{% block javascript %}
<script language="JavaScript">
    
    function showform(dowhat) {
        /*
        * four DIVS: browse, insert, update, delete
        * this function sets one visible the others not
        */
        if (dowhat == 'insert'){
            //document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'update'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'delete'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
        }
    else if (dowhat == 'all'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'block';
        }
        else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
    }
    function newPart() { showform('insert'); }
    function updatePart(pid) { showform('update'); }
    function deletePart(pid) { showform ('delete'); }
    function browsePart() { showform ('browse'); }
    function showAll() { showform ('all'); }

</script>
{% endblock %}

</head>
<body onload="browsePart()">
    <div className="nav_component">

    </div>
      [ <a href="/">Home</a> |<a href="/spacecraft">Spacecraft</a> | <a href="/parts">Parts</a> | <a href="/parts-and-spacecraft">Spacecaft/Parts Intersection Table</a>  | <a href="/missions">Missions</a> | <a href="/astronauts">Astronauts</a> | <a href="/clients">Clients</a> | <a href="/planetary-objects">Planetary Objects</a> ]
    <h1>SpaceTau Database System - Spacecraft/Parts Intersection Table Page</h1>

    <p>Parts/Spacecraft page.</p>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/GOES-R_SPACECRAFT.jpg/800px-GOES-R_SPACECRAFT.jpg">
    <p></p>
    <p></p>
    
    <p>This page displays the relationships between parts and spacecraft in the database.</p>
    <p>Parts are involved in a M:N relationship with spacecraft.  A part can be found in many spacecraft, and a spacecraft can consist of many parts.</p>
    <p>Click the 'add' button to below to insert a new part/spacecraft association into the database.</p>


    <button onclick="newPart() " class="add_button">Add a SpaceCraft/Part Relationship</button>

    {# FORM FOR ADDING A PART - Always Visible or Toggled by a Button above or below the table - TODO #}
    <div id="insert" class="insertForm">
        <form method="POST" id="addPart">
            <legend><strong>Add Spacecaft/Part Relationship</strong></legend>
            <fieldset class="fields">
                <label> Part Name </label> 
                    <select name="part_name">
                        <option value="0">&nbsp;</option>
                        <option value="1">Roll Out Solar Array (ROSA)</option>
                        <option value="2">Reaction Wheel</option>
                        <option value="3">Xenon Engine</option>
                    </select>
                <label> Spacecaft Name </label> 
                    <select name="spacecraft_name">
                        <option value="0">&nbsp;</option>
                        <option value="1">Lunar Gateway</option>
                        <option value="2">Garmin Satellite</option>
                        <option value="3">Sentry Satellite</option>
                    </select>                    
        </fieldset>
            <input class="submit_button" type="submit" id="addSpacecraft-Part-Relationship" value="Add M:N Relationship">
            <input class="cancel_button" type="button" value="Cancel" onClick="browsePart()">
        </form> 
    </div>
    
    {# <p>&nbsp;</p> #}

    {# FORM FOR UPDATING A PART - This becomes visible when the EDIT BUTTON on a record is clicked #}
    <div id="update" class="updateForm">
        <form method="POST" id="updatePart">
            <legend><strong>Update Person</strong></legend>
            <fieldset class="fields">
            <input type="hidden" name="personID" id="updatepersonID" value="1">
            <label> ID: </label> 1
                <label> first name </label> <input type="text" name="fname" value="William">
                <label> last name </label> <input type="text" name="lname" value="Adama">
                <label> Homeworld </label> <select name="homeworld">
                    <option value="0">&nbsp;</option>
                    <option value="1" selected>Gemenon</option>
                    <option value="2">Leonis</option>
                    <option value="3">Caprica</option>
                    </select>
                <label> age </label> <input type="text" name="age" value="61">
        </fieldset>
            <input class="btn" type="submit" id="UpdateSavePerson" value="Save Update Person">
            <input class="btn" type="button" value="cancel" onClick="browsePart()">
        </form> 
    </div>

    {# <p>&nbsp;</p> #}


    {# FORM FOR DELETING A PART - This becomes visible when the DELETE BUTTON on a record is clicked #}
    <div id="delete" style="display: block" class="deleteForm">
        <form method="POST" id="deletePart">
            <legend><strong>Delete Part</strong></legend>
                <fieldset class="fields">
                <p>Are you sure you wish to delete the following?</p>
                <input type="hidden" name="personID" id="deletepersonID" value="1">
                <label><strong>ID:</strong></label> 1
                    <label> <strong>Name</strong> </label> William Adama
                    
            </fieldset>
            <input class="btn" type="submit" id="DeletePerson" value="Delete Person">
                <input class="btn" type="button" value="cancel" onClick="browsePart()">
        </form> 
    </div>


    {# TABLE FOR SELECT STATEMENT #}
    <div id="browse" style="display: block">
        <table>
            <thead>
            <tr>
                <th scope="col">Spacecaft ID</th>
                <th scope="col">SpaceCraft Name</th>
                <th scope="col">Part ID</th>
                <th scope="col">Part Name</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>        
            </thead>
            <tr>
                <td align="center" >1</td>
                <td >Lunar Gateway</td>
                <td align="center" >1</td>
                <td >Roll Out Solar Array (ROSA)</td>
                <td><a href="#" onClick="updatePart('this.personID')">Edit</a></td>
                <td><a href="#" onclick="deletePart('this.personID')">Delete</a></td>
            </tr>
            <tr>
                <td align="center" >2</td>
                <td >Garmin Satellite</td>
                <td align="center" >1</td>
                <td >Roll Out Solar Array (ROSA)</td>
                <td><a href="#" onClick="updatePart('this.personID')">Edit</a></td>
                <td><a href="#" onclick="deletePart('this.personID')">Delete</a></td>                
            </tr>            
            <tbody>            
            </tbody>
        </table>
    </div>


    
</body>
</html>