<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{# <link rel="stylesheet" type="text/css" href="styles.css"> #}
<head>
    <title>SpaceTau Database System</title>
</head>
<body>
    <div className="nav_component">

    </div>
   [ <a href="/">Home</a> |<a href="/spacecraft">Spacecraft</a> | <a href="/missions">Missions</a> | <a href="/parts">Parts</a> | <a href="/astronauts">Astronauts</a> | <a href="/clients">Clients</a> | <a href="/planetary-objects">Planetary Objects</a> ]
    <h1>SpaceTau Database System - Spacecraft Page</h1>
    
    <p>Spacecraft page.</p>

          <table>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">In Orbit?</th>
            <th scope="col">Launched?</th>
            <th scope="col">Sphere of Influence(Planet/Moon)</th>            
            <th scope="col">Delta V Remaining (m/s)</th>
            <th scope="col">Mission Elapsed Time - Days (MET)</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>        
        </thead>
        <tr>
            <td align="center" >1</td>
            <td >Garmin GPS Satellite 34</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Moon (Earth)</td>
            <td>500.00</td>
            <td>43</td>
            <td><a href="#" onClick="updatePerson('this.personID')">Edit</a></td>
            <td><a href="#" onclick="deletePerson('this.personID')">Delete</a></td>
        </tr>
        <tbody>            
        </tbody>
    </table>
    
</body>
</html>