<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{# <link rel="stylesheet" type="text/css" href="styles.css"> #}
<head>
<title>SpaceTau Database System</title>


{# https://jinja.palletsprojects.com/en/3.0.x/templates/#list-of-control-structures #}
{% block javascript %}
<script language="JavaScript">

   /*
    document.addEventListener("DOMContentLoaded", function(event){
        document.getElementById('deleteSpacecraft').addEventListener('submit', function(e) {
            e.preventDefault();
        });
    });
    */
    
    function showform(dowhat) {
        /*
        * four DIVS: browse, insert, update, delete
        * this function sets one visible the others not
        */
        if (dowhat == 'insert'){
            //document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'update'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'delete'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
        }
    else if (dowhat == 'all'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'block';
        }
        else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
    }
    function newSpacecraft() { showform('insert'); }
    

    function updateSpacecraft(id) { 
        
        console.log(id)
        console.log('what')
        url = '/get_spacecraft/' + id
        console.log(url)

        fetch(url).then(function(response) {
        
        return response.json();
        }).then(function(data) {
            
            console.log(data)
            document.getElementById('spacecraft_id_update').value = data[0].id_spacecraft;
            document.getElementById('spacecraft_id_update_label').innerHTML = data[0].id_spacecraft;
            document.getElementById('spacecraft_name_update').value = data[0].name;

            document.getElementById('orbit_select_option').selectedIndex = data[0].in_orbit;
            document.getElementById('launched_select_option').selectedIndex = data[0].launched;

            document.getElementById('spacecraft_delta_v_update').value = data[0].delta_v_remaining;
            document.getElementById('spacecraft_met_update').value = data[0].mission_elapsed_time_days;
 
            document.getElementById("soi_select_option").selectedIndex = data[0].id_planetary_object -1; 
           
            console.log('selecting planet with id')
            console.log(data[0].id_planetary_object)

            showform('update'); 


        }).catch(function(err) {
            console.log('Fetch Error :-S', err);
            browseSpacecraft()
        });        

    }
    


    function updateSpacecraft_Handler(id) {    
        
        
        let toUpdate = document.getElementById('spacecraft_id_update').value;
        let name = document.getElementById('spacecraft_name_update').value;
        let in_orbit = document.getElementById('orbit_select_option').value;
        let launched = document.getElementById('launched_select_option').value;
        let sphere_of_influence = document.getElementById('soi_select_option').value;
        let delta_v_remaining = document.getElementById('spacecraft_delta_v_update').value;
        let MET_days = document.getElementById('spacecraft_met_update').value;

        const url = '/update_spacecraft/' + toUpdate;
        const url2 = '/spacecraft'; 

        const data = {
            spacecraft_name_update: name,
            orbit_select_option: in_orbit,
            launched_select_option: launched,
            soi_select_option: sphere_of_influence,
            spacecraft_delta_v_update: delta_v_remaining,
            spacecraft_met_update: MET_days
        };

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            browseSpacecraft();
        })
        .catch(error => {
            console.error('Error:', error);
            browseSpacecraft();
        });
}



    function deleteSpacecraft(id) {    
        


        url = '/get_spacecraft/' + id

        console.log(url)

        fetch(url).then(function(response) {
        
        return response.json();
        }).then(function(data) {
            
            console.log(data)
            document.getElementById('spacecraft_id_delete').innerHTML = data[0].id_spacecraft;
            document.getElementById('spacecraft_name_delete').innerHTML = data[0].name;
            document.getElementById('spacecraft_in_orbit_delete').innerHTML = data[0].in_orbit;
            document.getElementById('spacecraft_launched_delete').innerHTML = data[0].launched;
            document.getElementById('spacecraft_delta_v_delete').innerHTML = data[0].delta_v_remaining;
            document.getElementById('spacecraft_met_delete').innerHTML = data[0].mission_elapsed_time_days;
            document.getElementById('spacecraft_sphere_of_influence_delete').innerHTML = data[0].id_planetary_object;     
            showform ('delete'); 


        }).catch(function(err) {
            console.log('Fetch Error :-S', err);
            browseSpacecraft()
        });
                                    }


    function deleteSpaceCraftHandler() { 

        let toDelete = document.getElementById('spacecraft_id_delete').innerHTML
        console.log(toDelete)       
        url = '/delete_spacecraft/' + toDelete
        url2 = '/spacecraft' 

        console.log(url)

        fetch(url).then(function(response) {
               
        return response
        }).then(function(data) {
            
            console.log(data)
            browseSpacecraft()


        }).catch(function(err) {
            console.log('Fetch Error :-S', err);
            browseSpacecraft()
        });
    }  
    
    
    function browseSpacecraft() { showform ('browse'); }
    function showAll() { showform ('all'); }

</script>
{% endblock %}

</head>
<body onload="browseSpacecraft()">
    <div className="nav_component">

    </div>
    [ <a href="/">Home</a> |<a href="/spacecraft">Spacecraft</a> | <a href="/parts">Parts</a> | <a href="/parts-and-spacecraft">Spacecaft/Parts Intersection Table</a>  | <a href="/missions">Missions</a> | <a href="/astronauts">Astronauts</a> | <a href="/clients">Clients</a> | <a href="/planetary-objects">Planetary Objects</a> ]
    <h1>SpaceTau Database System - Spacecraft Page</h1>
    
    <p>Spacecraft page.</p>
    

    <img src="https://cdn.arstechnica.net/wp-content/uploads/2018/08/gatemain.jpg">
    <p></p>
    <p></p>

    {# {{spacecraft_data}} #}
    <p></p>
    <p></p>
    {# {{spacecraft_data_dictionary}} #}

    <button onclick="newSpacecraft() " class="add_button">Add a Spacecraft</button>


    {# FORM FOR ADDING A SPACECRAFT - Toggled by a Button above or below the table - TODO #}
    <div id="insert" class="insertForm">
        <form method="POST" id="add_spacecraft" action="/spacecraft" method="post">
            <legend><strong>Add Spacecraft</strong></legend>
            <fieldset class="fields">
                <label> Name </label> <input type="text" name="name" required>
                <label> In Orbit? </label> 
                    <select name="in_orbit">
                        <option value="0">No</option>
                        <option value="1">Yes</option>                        
                    </select>
                <label> Launched? </label> 
                    <select name="launched">
                        <option value="0">No</option>
                        <option value="1">Yes</option>          
                    </select>
                <label> Sphere of Influence </label> 
                <select name="sphere_of_influence">                       
                    {% if planetary_data %}
                        {% for planet in planetary_data %}
                            <option value="{{ planet }}">{{planetary_data[planet]}}</option>
                        {% endfor %}
                    {% endif %} 
                </select>      
                <p></p>
                <p></p>
                <p></p>
                <label> Delta V Remaining (m/s) </label> <input type="number" name="delta_v_remaining" required>
                <label> Mission Elapsed Time (days) </label> <input type="number" name="MET_days" required>

        </fieldset>
            <input class="submit_button" type="submit" id="addSpacecraft" value="Add Spacecraft" name = "add_spacecraft">
            <input class="cancel_button" type="button" value="Cancel" onClick="browseSpacecraft()">
        </form> 
    </div>



    {# FORM FOR UPDATING A SPACECRAFT - This becomes visible when the EDIT BUTTON on a record is clicked #}
    <div id="update" class="updateForm">
        <form method="POST" id="updateSpacecraft">
            <legend><strong>Update Spacecaft</strong></legend>
            <fieldset class="fields">
            <input type="hidden" name="spacecraftID" id="spacecraft_id_update">
            <label> ID: </label> <div id="spacecraft_id_update_label"></div>
            <label> Name </label> <input type="text" name="spacecraft_name_update" id="spacecraft_name_update">
                <label> In Orbit? </label> 
                    <select name="orbit_select_option"  id="orbit_select_option">
                        <option value="0">No</option>
                        <option value="1">Yes</option>                        
                    </select>
                <label> Launched? </label> 
                    <select name="launched_select_option"  id="launched_select_option">
                        <option value="0">No</option>
                        <option value="1">Yes</option>     
                    </select>
                <label> Sphere of Influence </label> 
                <select name="soi_select_option" id="soi_select_option">                       
                    {% if planetary_data %}
                        {% for planet in planetary_data %}
                            <option value="{{ planet }}">{{planetary_data[planet]}}</option>
                        {% endfor %}
                    {% endif %} 
                </select>    
                <label> Delta V Remaining (m/s) </label> <input type="number" name="spacecraft_delta_v_update" value="500.00" id="spacecraft_delta_v_update">
                <label> Mission Elapsed Time - Days (MET) </label> <input type="number" name="spacecraft_met_update" value="43" id="spacecraft_met_update">
        </fieldset>
            <input class="submit_button" type="submit" id="UpdateSaveSpacecraft" value="Update Spacecraft" onClick="updateSpacecraft_Handler()">
            <input class="cancel_button" type="button" value="Cancel" onClick="browseSpacecraft()">
        </form> 
    </div>



    {# FORM FOR DELETING A PART - This becomes visible when the DELETE BUTTON on a record is clicked #}
    <div id="delete" style="display: block" class="deleteForm">
        <form method="POST" id="deleteSpacecraft">
            <legend><strong>Delete Spacecaft</strong></legend>
                <fieldset class="fields">
                <p>Are you sure you wish to delete the following?</p>
                <input type="hidden" name="spacecraftID" id="deletespacecraftID" value="1">
                <label><strong>Spacecraft ID:</strong></label> 
                <div id="spacecraft_id_delete"></div>
                <label> <strong>Spacecraft Name:</strong> </label> 
                <div id="spacecraft_name_delete"></div>
                <label> <strong>In Orbit?:</strong> </label>
                <div id="spacecraft_in_orbit_delete"></div>
                <label> <strong>Launched?:</strong> </label>
                <div id="spacecraft_launched_delete"></div>
                <label> <strong>Delta V Remaining:</strong> </label>
                <div id="spacecraft_delta_v_delete"></div>
                <label> <strong>Mission Elapsed Time (Days):</strong> </label> 
                <div id="spacecraft_met_delete"></div>
                <label> <strong>Sphere of Influence:</strong> </label> 
                <div id="spacecraft_sphere_of_influence_delete"></div>
            </fieldset>
            <input class="submit_button" type="submit" id="DeletePerson" value="Delete Spacecraft" onClick="deleteSpaceCraftHandler()">
            <input class="cancel_button" type="button" value="cancel" onClick="browseSpacecraft()">
        </form> 
    </div>


    {# TABLE FOR SELECT STATEMENT - HARDCODED #}
    {# <div id="browse" style="display: block">
    <table>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">In Orbit?</th>
            <th scope="col">Launched?</th>
            <th scope="col">Sphere of Influence(Planet/Moon)</th>            
            <th scope="col">Delta V Remaining (m/s)</th>
            <th scope="col">Mission Elapsed Time - Days (MET)</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>        
        </thead>
        <tr>
            <td align="center" >1</td>
            <td >Garmin GPS Satellite 34</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Moon (Earth)</td>
            <td>500.00</td>
            <td>43</td>
            <td><a href="#" onClick="updateSpacecraft('this.SpacecraftID')">Edit</a></td>
            <td><a href="#" onclick="deleteSpacecraft('this.SpacecraftID')">Delete</a></td>
        </tr>
        <tbody>            
        </tbody>
    </table>
    </div>

    <p>test dynamic data here</p> #}

    {% if spacecraft_data %}
        <div id="browse" style="display: block">
            <table>
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in spacecraft_data[0].keys() %}                            
                            <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                            <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>					
                        <!-- End of this for loop -->
                        {% endfor %} 
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>

                    </tr>
                </thead>

				<tbody>
					<!-- Now, iterate through every item in data -->
                    {% for item in spacecraft_data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}
						         <!-- Create a <td> element with the value of that key in it -->
                                {% if key == "id_planetary_object" %}     
                                    <td> {{item[key]}} </td> 
                                {% else %}     
                                    <td> {{item[key]}} </td> 
                                {% endif %} 
                            {% endfor %}

                            <!-- Create our edit/delete buttons --> 
                                                         
                            {# <td><a href="/delete_spacecraft/{{item['Spacecraft ID']}}" class="btn btn-default">Edit</a></td>
						    <td><a href="edit_people/{{item.id}}" class="btn btn-default">Edit</a></td> #}

						    {# <td><a href="delete_people/{{item.id}}" class="btn btn-default">Delete</a></td> #}
                            <td><a href="#" onClick="updateSpacecraft('{{item['Spacecraft ID']}}')">Edit</a></td>
                            <td><a href="#" onclick="deleteSpacecraft('{{item['Spacecraft ID']}}')">Delete</a></td>      
                            
                                            

					    </tr> 
                    {% endfor %} 

            </table>
        </div>     
    {% endif %} 

    <p></p>
    {# <p>Planetary Data Output:</p>
    {{ planetary_data }} #}
    
</body>
</html>